Given a list
- [6, -10, 7, 7, 5, -8, -7, 0, -7, -3, 5, -10, -7, 5, 5]

Sum all positive integers

Approach
- Firs simple with Python built in list
- Then with Pandas

In [1]:
l = [6, -10, 7, 7, 5, -8, -7, 0, -7, -3, 5, -10, -7, 5, 5]

In [2]:
l

[6, -10, 7, 7, 5, -8, -7, 0, -7, -3, 5, -10, -7, 5, 5]

In [3]:
len(l)

15

In [4]:
sum(l)

-12

In [7]:
def positive_sum(l):
    p_sum = 0
    for i in l:
        if i > 0:
            p_sum = p_sum + i
    return p_sum

In [8]:
positive_sum(l)

40

In [11]:
sum([n for n in l if n > 0])

40

### Series

In [12]:
import pandas as pd

In [13]:
s = pd.Series(l)

In [14]:
s

0      6
1    -10
2      7
3      7
4      5
5     -8
6     -7
7      0
8     -7
9     -3
10     5
11   -10
12    -7
13     5
14     5
dtype: int64

In [15]:
l

[6, -10, 7, 7, 5, -8, -7, 0, -7, -3, 5, -10, -7, 5, 5]

In [16]:
s > 0

0      True
1     False
2      True
3      True
4      True
5     False
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13     True
14     True
dtype: bool

In [17]:
s[s > 0]

0     6
2     7
3     7
4     5
10    5
13    5
14    5
dtype: int64

In [18]:
l

[6, -10, 7, 7, 5, -8, -7, 0, -7, -3, 5, -10, -7, 5, 5]

In [19]:
s[s > 0].sum()

40

In [20]:
%timeit positive_sum(l)

578 ns ± 18.3 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [21]:
%timeit s[s > 0].sum()

200 µs ± 5.04 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [22]:
import random

In [30]:
l = [random.randint(-100, 100) for _ in range(100000)]

In [31]:
%timeit positive_sum(l)

4.23 ms ± 174 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [32]:
%timeit s[s > 0].sum()

203 µs ± 13.1 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)